*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
}

.nav {
    background-color: #0d0d0d;
    width: 100%;
    padding: 3% 4% 2% 4%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    line-height: 160%;
    align-items: stretch;
    font-family: 'Lora', serif;
    
}

.nav:hover{
    padding: 4% 4% 3% 4%;
    transition: 0.5s;
}

.site-title{
    font-size: 40px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53C8E1, #6a82fb);
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    font-size: 30px;
    gap: 2rem;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #53C8E1, #6a82fb);
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.5s;
}

.nav a {
    color: inherit;
    text-decoration:none;
    height: stretch;
    display: flex;
    align-items: center; 
    padding: .25rem;   
    transition: 0.5s; 
    }

.nav li.active{
    transition: 0.5s;
}

.nav li:hover{
    font-size: 34px;
    transition: 0.5s;
}

.nav li{
    transition: 0.2s ease-in-out;
}

.foot{
    background-color: #0d0d0d;
    width: 100%; 
    padding: 3% 3% 2% 1%;
    color: #EEEEEE;
    font-family: 'Lora', serif;
    margin-top: auto;
}

.mediaWrap{
    display: flex;
    justify-content: center;
}

.links{
    font-size: 30;
}

.foot a{
    text-decoration: none;
    color: inherit;
    
}

.foot ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-family:'Josefin Sans', sans-serif;
    gap: 2rem;
    
}

.foot li:hover{
    color:#434343;
    transition: 0.5s;
}

.page{
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: hidden;
}

.container{
    flex:1;
    min-height: 100vh;
    overflow: hidden;
}

#contactLink{
    color: #00D37E;
}

#aboutLink{
    color: #FF3E0D;
}

#portfolioLink{
    color: #F7C839;
}
